* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

ol {
  list-style: none; }

ul {
  list-style: none; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

footer {
  background-color: #FFA931;
  display: grid;
  grid-template-columns: 20rem 30rem 3fr;
  grid-template-rows: 1fr;
  border-top: 2px solid rgba(0, 0, 0, 0.473); }
  footer .logo-footer {
    padding-left: 2.5rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; }
    footer .logo-footer img {
      width: 15rem; }
  footer .redes-footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; }
    footer .redes-footer ul {
      display: flex;
      padding-left: 2rem; }
      footer .redes-footer ul li:nth-child(2) {
        padding-top: 7.5rem; }
      footer .redes-footer ul li {
        padding-top: 0.5rem;
        padding-left: 2rem; }
        footer .redes-footer ul li a img {
          width: 6rem; }
          footer .redes-footer ul li a img:hover {
            transform: scale(1.1); }
  footer .hora-footer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .hora-footer ul {
      display: flex; }
      footer .hora-footer ul li {
        padding-left: 2.5rem;
        justify-content: space-between; }
        footer .hora-footer ul li p {
          font-family: "Quattrocento Sans", sans-serif;
          font-size: 3rem;
          text-align: center;
          line-height: 4rem; }
  footer .derechos-footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: end;
    align-items: end; }
    footer .derechos-footer h4 {
      text-align: center;
      font-family: "Quattrocento Sans", sans-serif;
      font-size: 1.6rem; }

header {
  background-color: #FBE6D4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.473);
  z-index: 999; }
  header div img {
    width: 15rem;
    align-items: baseline;
    position: fixed;
    object-fit: cover;
    top: 0.5rem;
    left: 4rem;
    background-color: #FBE6D4;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.473); }
    header div img:hover {
      transform: rotate(360deg);
      transition: 1000ms;
      z-index: 500; }
  header nav div ul {
    display: flex; }
    header nav div ul li {
      font-family: "Island Moments", cursiva;
      font-size: 8rem;
      word-spacing: 1rem;
      padding: 1rem; }
      header nav div ul li:hover {
        transform: scale(1.1);
        font-weight: 600; }
      header nav div ul li a {
        border-left: 1px solid rgba(0, 0, 0, 0.363);
        border-right: 1px solid rgba(0, 0, 0, 0.363); }

main .banner-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr), 10rem;
  border-bottom: 2px solid black; }
  main .banner-main img {
    height: 70rem;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    object-fit: cover;
    filter: blur(2px);
    z-index: -1; }
  main .banner-main h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: "Island Moments", cursiva;
    font-size: 15rem;
    margin-left: 10rem;
    z-index: 1; }
  main .banner-main h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    font-family: "Island Moments", cursiva;
    font-size: 15rem;
    font-weight: 300;
    margin-left: 10rem;
    z-index: 1; }

main .galeria-index {
  background-color: #FECB89;
  padding-top: 5rem;
  border-bottom: 2px solid #FECB89; }
  main .galeria-index article .galeria-index-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    padding-bottom: 5rem; }
    main .galeria-index article .galeria-index-1 img {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
      height: 45rem;
      object-fit: cover;
      border-top-right-radius: 50em;
      border-bottom-right-radius: 50rem;
      opacity: 80%;
      border: 5px solid rgba(0, 0, 0, 0.541);
      border-left: none; }
    main .galeria-index article .galeria-index-1 h3 {
      font-size: 10rem;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      text-align: center;
      font-family: "Island Moments", cursiva;
      z-index: 2; }
    main .galeria-index article .galeria-index-1 p {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      text-align: center;
      align-self: center;
      font-family: "Quattrocento Sans", sans-serif;
      line-height: 3rem;
      word-spacing: 0.5rem;
      font-size: 3rem;
      font-weight: 300;
      padding-left: 3rem;
      padding-top: 10rem;
      z-index: 2; }
  main .galeria-index article .galeria-index-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    padding-bottom: 5rem; }
    main .galeria-index article .galeria-index-2 img {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
      height: 45rem;
      object-fit: cover;
      border-top-left-radius: 50em;
      border-bottom-left-radius: 50rem;
      opacity: 80%;
      border: 5px solid rgba(0, 0, 0, 0.541);
      border-right: none; }
    main .galeria-index article .galeria-index-2 h3 {
      font-size: 10rem;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
      text-align: center;
      font-family: "Island Moments", cursiva;
      z-index: 2; }
    main .galeria-index article .galeria-index-2 p {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
      text-align: center;
      align-self: center;
      font-family: "Quattrocento Sans", sans-serif;
      line-height: 3.5rem;
      word-spacing: 0.5rem;
      font-size: 3rem;
      font-weight: 300;
      padding-top: 10rem;
      padding-right: 3rem;
      z-index: 2; }

main .historia {
  padding-bottom: 5rem;
  background-color: #FECB89; }
  main .historia .historia-2 {
    margin-left: 3rem;
    margin-right: 3rem;
    height: 40rem;
    background-color: #FFA931;
    border-radius: 20rem;
    box-shadow: -1px 1px 81px -12px rgba(77, 77, 77, 0.82) inset;
    -webkit-box-shadow: -1px 1px 81px -12px rgba(77, 77, 77, 0.82) inset;
    -moz-box-shadow: -1px 1px 81px -12px rgba(77, 77, 77, 0.82) inset; }
    main .historia .historia-2 h3 {
      font-family: "Island Moments", cursiva;
      font-size: 10rem;
      text-align: center;
      padding-top: 2rem; }
    main .historia .historia-2 p {
      font-family: "Quattrocento Sans", sans-serif;
      padding-left: 10rem;
      padding-top: 1rem;
      padding-right: 10rem;
      font-size: 3rem;
      text-align: center; }

.main-pastas {
  background-color: #FECB89; }
  .main-pastas .banner-pastas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr; }
    .main-pastas .banner-pastas img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      height: 20rem;
      object-fit: cover; }
    .main-pastas .banner-pastas h2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 15rem;
      text-align: center;
      font-family: "Island Moments", cursiva;
      word-spacing: 3rem;
      letter-spacing: 2rem;
      font-weight: 300;
      border-radius: 25%; }
  .main-pastas .tipos-pastas .banner-pastas2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem;
    margin-left: 15rem;
    margin-top: 2rem;
    margin-right: 15rem; }
    .main-pastas .tipos-pastas .banner-pastas2 img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      height: 100%;
      object-fit: cover;
      border-radius: 108px; }
    .main-pastas .tipos-pastas .banner-pastas2 h3 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: center;
      place-self: center;
      font-size: 15rem;
      font-family: "Island Moments", cursiva;
      letter-spacing: 1.5rem;
      font-weight: 300; }
  .main-pastas .tipos-pastas .pastas-p {
    text-align: center;
    font-size: 5rem;
    font-family: "Quattrocento Sans", sans-serif;
    padding: 2rem 5rem 2rem 5rem; }
  .main-pastas .tipos-pastas .pastas-ul ul {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem; }
    .main-pastas .tipos-pastas .pastas-ul ul li {
      padding-left: 3rem; }
      .main-pastas .tipos-pastas .pastas-ul ul li button {
        background-color: rgba(255, 255, 255, 0.384);
        border-radius: 11px;
        margin: 4px solid rgba(0, 0, 0, 0.377);
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: "Quattrocento Sans", sans-serif;
        font-size: 21px;
        padding: 1.1rem 1.8rem;
        text-decoration: none; }
        .main-pastas .tipos-pastas .pastas-ul ul li button:hover {
          background-color: #fabf88; }
      .main-pastas .tipos-pastas .pastas-ul ul li input {
        width: 12rem;
        background-color: rgba(255, 255, 255, 0.384);
        border-radius: 11px;
        margin: 4px solid rgba(0, 0, 0, 0.377);
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: "Quattrocento Sans", sans-serif;
        font-size: 21px;
        padding: 1.1rem 1.8rem;
        text-decoration: none; }
        .main-pastas .tipos-pastas .pastas-ul ul li input::placeholder {
          font-size: 1.6rem; }

.pedidos {
  background-color: #FECB89;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20rem repeat(2, 1fr) 20rem 1fr; }
  .pedidos .tu-pedido {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4; }
    .pedidos .tu-pedido div h2 {
      font-size: 10rem;
      font-family: "Island Moments", cursiva;
      text-align: center; }
    .pedidos .tu-pedido div ul form li {
      padding-top: 5rem;
      padding-left: 1.5rem; }
      .pedidos .tu-pedido div ul form li h3 {
        font-size: 2.5rem;
        font-family: "Quattrocento Sans", sans-serif; }
      .pedidos .tu-pedido div ul form li label {
        font-size: 2.5rem;
        font-family: "Quattrocento Sans", sans-serif; }
        .pedidos .tu-pedido div ul form li label img {
          width: 5rem; }
      .pedidos .tu-pedido div ul form li input {
        background-color: rgba(255, 255, 255, 0.445);
        border: 2px solid rgba(255, 255, 255, 0.671);
        border-radius: 4px;
        margin-left: 5rem;
        font-size: 2.5rem;
        line-height: 1.5rem;
        font-family: "Quattrocento Sans", sans-serif;
        text-align: center;
        position: relative;
        width: 300px;
        text-align: left; }
        .pedidos .tu-pedido div ul form li input:focus {
          outline-color: #0000006b;
          border-color: #0000006b; }
        .pedidos .tu-pedido div ul form li input:hover {
          background-color: rgba(255, 255, 255, 0.781); }
        .pedidos .tu-pedido div ul form li input::placeholder {
          font-size: 2rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .pedidos .tu-pedido div ul form li .metodo-de-pago-botone {
        margin-left: 0;
        width: 5rem;
        transform: scale(2); }
  .pedidos .img-pedidos {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-right: 5rem; }
    .pedidos .img-pedidos img {
      border-radius: 15%;
      box-shadow: 1px -1px 28px 32px rgba(255, 255, 255, 0.45);
      -webkit-box-shadow: 1px -1px 28px 32px rgba(255, 255, 255, 0.45);
      -moz-box-shadow: 1px -1px 28px 32px rgba(255, 255, 255, 0.45); }
  .pedidos .carrito-pedido {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 5rem; }
    .pedidos .carrito-pedido div {
      display: flex;
      width: 45rem;
      margin-left: 1.5rem;
      background-color: #FEC270;
      padding: 3rem;
      border-radius: 15%;
      border: 2px solid rgba(0, 0, 0, 0.301); }
      .pedidos .carrito-pedido div img {
        width: 5rem; }
      .pedidos .carrito-pedido div h4 {
        font-size: 2.5rem;
        font-family: "Quattrocento Sans", sans-serif;
        margin-left: 5rem;
        margin-top: 1rem; }
  .pedidos .carrito {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #FEC270; }
    .pedidos .carrito div {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 1rem; }
      .pedidos .carrito div div {
        width: 25rem;
        flex-direction: column; }
        .pedidos .carrito div div p {
          font-size: 2.5rem;
          text-align: center;
          margin-top: 2rem; }
        .pedidos .carrito div div img {
          width: 25rem;
          height: 20rem;
          object-fit: cover;
          text-align: center; }
    .pedidos .carrito .comprar {
      width: 100%;
      padding-left: 2rem;
      margin-top: 3rem;
      padding-right: 2rem; }
      .pedidos .carrito .comprar h5 {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 2.5rem;
        padding: 1.6rem;
        font-family: "Quattrocento Sans", sans-serif; }
      .pedidos .carrito .comprar button {
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 2.5rem;
        font-family: "Quattrocento Sans", sans-serif;
        padding: 1.6rem;
        width: 20rem;
        background-color: rgba(255, 255, 255, 0.445);
        border-radius: 30px;
        border: 2px solid black;
        box-shadow: 1px 0px 45px -15px rgba(0, 0, 0, 0.93);
        -webkit-box-shadow: 1px 0px 45px -15px rgba(0, 0, 0, 0.93);
        -moz-box-shadow: 1px 0px 45px -15px rgba(0, 0, 0, 0.93); }
        .pedidos .carrito .comprar button:hover {
          background-color: rgba(255, 255, 255, 0.781); }

.main-recetas {
  background-color: #FECB89; }
  .main-recetas .banner-recetas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 40.5rem; }
    .main-recetas .banner-recetas h2 {
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 10rem;
      text-align: center;
      z-index: 20;
      font-size: 10rem;
      font-family: "Island Moments", cursiva;
      margin-top: 10rem;
      font-weight: 300; }
    .main-recetas .banner-recetas img {
      width: 100%;
      height: 50rem;
      object-fit: cover;
      filter: blur(2px);
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px); }
  .main-recetas .recetas-main {
    display: grid;
    grid-template-rows: 15rem 48rem 1fr;
    grid-template-columns: repeat(3, 1fr) 50rem;
    margin-top: 2.5rem;
    padding-bottom: 2rem; }
    .main-recetas .recetas-main .recetas-h {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: center; }
      .main-recetas .recetas-main .recetas-h h3 {
        font-size: 5rem;
        font-family: "Island Moments", cursiva; }
      .main-recetas .recetas-main .recetas-h h4, .main-recetas .recetas-main .recetas-h h5 {
        font-size: 2.5rem;
        font-family: "Quattrocento Sans", sans-serif;
        margin-top: 0.5rem; }
    .main-recetas .recetas-main ul {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      text-align: center; }
      .main-recetas .recetas-main ul li {
        font-size: 2.5rem;
        font-family: "Quattrocento Sans", sans-serif;
        padding-top: 1rem; }
    .main-recetas .recetas-main ol {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      text-align: center;
      list-style: decimal;
      padding-left: 15rem;
      padding-right: 15rem; }
      .main-recetas .recetas-main ol li {
        font-size: 2.5rem;
        font-family: "Quattrocento Sans", sans-serif;
        text-align: center;
        margin-top: 3rem;
        padding-left: 4rem;
        padding-bottom: 2rem; }
  .main-recetas .recetas-img {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 1rem; }
    .main-recetas .recetas-img img {
      height: 100%;
      object-fit: cover;
      padding-top: 10rem; }

.main-ubicacion {
  background-image: url(../assets/img/fondo-ubicacion.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10rem repeat(3, 1fr); }
  .main-ubicacion .iframe {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 11rem; }
    .main-ubicacion .iframe iframe {
      width: 100%;
      margin-left: 3rem;
      height: 110%;
      border-radius: 10%; }
  .main-ubicacion .Ubicacion {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; }
    .main-ubicacion .Ubicacion h2 {
      font-size: 10rem;
      font-family: "Island Moments", cursiva;
      text-align: center;
      padding-top: 11rem;
      font-weight: 300; }
    .main-ubicacion .Ubicacion p {
      font-size: 3.5rem;
      text-align: center;
      font-family: "Quattrocento Sans", sans-serif;
      padding-left: 7rem;
      padding-right: 7rem; }
  .main-ubicacion .Horarios-ubi {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; }
    .main-ubicacion .Horarios-ubi h2 {
      font-size: 10rem;
      font-family: "Island Moments", cursiva;
      text-align: center;
      padding-top: 2rem;
      font-weight: 300; }
    .main-ubicacion .Horarios-ubi p {
      font-size: 3.5rem;
      text-align: center;
      font-family: "Quattrocento Sans", sans-serif;
      padding-left: 7rem;
      padding-right: 7rem; }
  .main-ubicacion .nuestras-redes {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 7rem;
    padding-bottom: 7rem; }
    .main-ubicacion .nuestras-redes h2 {
      font-size: 15rem;
      font-family: "Island Moments", cursiva;
      text-align: center;
      padding-top: 2rem;
      font-weight: 300; }
    .main-ubicacion .nuestras-redes ul {
      display: flex;
      justify-content: center; }
      .main-ubicacion .nuestras-redes ul li {
        padding-left: 5rem; }
        .main-ubicacion .nuestras-redes ul li a img {
          width: 10rem; }

@media (max-width: 1024px) {
  header div img {
    width: 9.8rem;
    top: 0rem;
    left: 0.5rem;
    border: none; }
  header nav div ul li {
    font-size: 5rem; }
  footer {
    grid-template-columns: 1fr 1fr 1fr; }
    footer .logo-footer {
      padding-left: 0; }
    footer .redes-footer ul {
      padding-left: 0; }
      footer .redes-footer ul li {
        padding: 0; }
    footer .hora-footer ul {
      padding-bottom: 2rem; }
      footer .hora-footer ul li p {
        padding-left: 0rem;
        font-size: 2.5rem;
        line-height: 2.5rem; }
  main .banner-main h1 {
    font-size: 15rem;
    margin-left: 0rem; }
  main .banner-main h2 {
    font-size: 11rem;
    margin-left: 0rem; }
  main .galeria-index article .galeria-index-1 h3 {
    font-size: 7rem; }
  main .galeria-index article .galeria-index-1 p {
    padding-top: 2rem;
    font-size: 2.5rem; }
  main .galeria-index article .galeria-index-2 h3 {
    font-size: 7rem; }
  main .galeria-index article .galeria-index-2 p {
    font-size: 2.5rem;
    padding-top: 2.5rem; }
  .pedidos {
    grid-template-rows: 20rem 1fr 20rem 20rem 1fr; }
    .pedidos .img-pedidos {
      padding-left: 2rem;
      padding-right: 0rem; }
      .pedidos .img-pedidos img {
        height: 100%;
        object-fit: cover;
        border-radius: 0%; }
  .main-recetas .recetas-main {
    grid-template-rows: 15rem 40rem 1fr;
    grid-template-columns: repeat(3, 1fr) 30rem; }
    .main-recetas .recetas-main .recetas-h h3 {
      font-size: 4rem; }
    .main-recetas .recetas-main .recetas-h h4, .main-recetas .recetas-main .recetas-h h5 {
      font-size: 2rem; }
    .main-recetas .recetas-main ul li {
      font-size: 2rem; }
    .main-recetas .recetas-main ol {
      padding-left: 3rem;
      padding-right: 2rem; }
      .main-recetas .recetas-main ol li {
        padding-left: 0rem;
        padding-right: 0rem;
        margin-top: 0.5rem; }
  .main-pastas .banner-pastas {
    align-items: center; }
    .main-pastas .banner-pastas h2 {
      font-size: 10rem; } }

@media (max-width: 968px) {
  footer {
    display: flex;
    flex-direction: column; }
    footer .logo-footer {
      display: none; }
    footer .redes-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem; }
    footer .hora-footer ul {
      display: flex;
      flex-direction: column; }
      footer .hora-footer ul li {
        padding-top: 1rem; }
  main .banner-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 1fr; }
    main .banner-main img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4;
      height: 30rem; }
    main .banner-main h1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      text-align: center;
      font-size: 10rem; }
    main .banner-main h2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      text-align: center;
      font-size: 6rem; }
  main .galeria-index {
    padding-top: 5rem;
    border-bottom: none; }
    main .galeria-index article .galeria-index-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 2rem; }
      main .galeria-index article .galeria-index-1 img {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 40rem;
        object-fit: cover;
        border-radius: 0%;
        opacity: 50%;
        border: none; }
      main .galeria-index article .galeria-index-1 p {
        font-size: 1.6rem; }
    main .galeria-index article .galeria-index-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 2rem; }
      main .galeria-index article .galeria-index-2 img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 40rem;
        object-fit: cover;
        border-radius: 0%;
        opacity: 50%;
        border: none; }
      main .galeria-index article .galeria-index-2 h3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
        z-index: 2; }
      main .galeria-index article .galeria-index-2 p {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 1.6rem;
        padding-left: 3rem;
        padding-top: 10rem;
        z-index: 2; }
  main .historia .historia-2 {
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
    background-color: #FECB89;
    border-radius: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
    main .historia .historia-2 h3 {
      font-size: 5rem;
      text-align: center;
      padding-top: 0rem; }
    main .historia .historia-2 p {
      font-family: "Quattrocento Sans", sans-serif;
      padding-left: 2rem;
      padding-top: 1rem;
      padding-right: 2rem;
      font-size: 2rem;
      text-align: center; } }
